__pycache__/
*.py[cod]
*$py.class
.DS_Store
.ipynb_checkpoints/
.venv
.cache

*.swp

tmp/

# ignore local packages
*.egg-info/

# ignore intermediate files
var/

# ignore made dataset
/dataset/
.idea/
.python-version

# ignore collection files created when running locally 
collection/*/log/
collection/*/resource/
collection/*/log.csv
collection/*/resource.csv
collection/*/pipeline.mk
expectations/
flattened/
issue/
specification/
transformed/
performance/

# ignore specific files
pipeline/title-boundary/lookup.csv
